<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Tamagotchi Farm</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    
    <div class="jumbotron" style="text-align: center">
      <h1>Welcome to Tamagotchi Central</h1>
    </div>
    <form action="/pets" method="post"> 
      <label for="name">Name that B</label>
      <input id="name" name="name" type="text">
      <button type="submit">Submit</button>
    </form>
  </div>
</body>

</html>